
html, body{
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  pointer-events: none;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  overflow: hidden;
  pointer-events: none;
}

.logo {
  height: 2em;
  padding: 0.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 0.5em;
}

.webSocketLogo {
  filter: invert(0.8);
}

.peerCursor {
  width: 10px; /* Width of the box */
  height: 10px; /* Height of the box */
  background-color: red; /* Background color of the box */
  border: 1px solid black; /* Border of the box */
  position: absolute; /* Positioning relative to its normal position */
  transform: translate(-50%, -50%); /* Center the box around the cursor position */
  pointer-events: none; /* Prevent the box from capturing mouse events */
  white-space: nowrap; /* Prevent the box from wrapping */
  overflow: visible; /* Allow the box to overflow */
  border-radius: 10px;
  
}

.peerCursor span {
  position: absolute; /* Positioning relative to its normal position */
  transform: translate(-50%, 50%); /* Center the box around the cursor position */
}

.pointerEventsOn{
  pointer-events: auto;
}

.menu{
  position: absolute;
    left: 50%;
    bottom: 0%;
    font-size: 0.65em;
    height: auto;
    transform: translateX(-50%);
}